<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center">
      Turismo Bacalar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/inicio1.jpg" alt="">
      <ion-card-header>
        <ion-card-subtitle>Bacalar Q. Roo</ion-card-subtitle>
        <ion-card-title>Bienbenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bacalar o Laguna de los Siete Colores, es una laguna ubicada en el estado de Quintana Roo, muy cerca de Chetumal,
           la capital del estado. Su nombre viene del maya Bakhalal que significa “cerca o rodeado de carrizos”. De forma circular,
           la laguna es poco profunda lo que permite nadar cómodamente.
           Alrededor se encuentran establecidas tanto casas privadas como pequeñas posadas que permiten acceso a la laguna.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
