<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/informacion">
          </ion-back-button>    
        </ion-buttons>
    <ion-title>Fuerte de San Felipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/fuerte.jpg" alt="" />
        <ion-card-header>
          <ion-card-subtitle>sitio turistico</ion-card-subtitle>
          <ion-card-title>Información</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
              Cuando te decidas a salir de la laguna y de los cenotes para tomar tierra, te recomendamos visitar el fuerte de San Felipe de Bacalar, nombrado en el siglo XVIII en honor del santo florentino del siglo XVI que fundó la Congregación del Oratorio. El castillo fue levantado por los españoles para repeler las incursiones de los piratas ingleses, franceses y holandeses, que iban a tierra firme en busca de suministros y de mujeres. En el fuerte funciona el Museo de la Guerra de Castas y un pequeño museo alusivo a la piratería en el Caribe.
          </p>
        <ion-card-title>Direccion</ion-card-title>
          <p>
            Av. 3 entre calle 20 y 24, Bacalar Quinta Roo
          </p>
        </ion-card-content>
      </ion-card>

</ion-content>
